<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">ตั้งค่า</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
   
  <ion-slides pager="false" effect ="slide" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">  
   
    <ion-slide>

      <h2 class="slide-title">1.เลือกกะที่ต้องการบันทึก </h2>


      <ion-buttons>
        <ion-label floating>เลือกวันที่ </ion-label>
        <br>
        <button button-end ion-button icon-only (click)="selectdate()" *ngIf="showdatebutton===true">
          <ion-icon name="md-calendar"></ion-icon>
        </button>

      </ion-buttons>

      <ion-grid *ngIf="showdatebutton===false">
        <ion-col>

          <select [(ngModel)]="selectedday" (ngModelChange)="changeday($event)" name="sel2">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>

          </select>

          <select [(ngModel)]="selectedmont">
            <option *ngFor="let c of month" [ngValue]="c.mid">{{c.mlabel}}</option>
          </select>
          <select [(ngModel)]="selectedyear">
            <option *ngFor="let y of year" [ngValue]="y.yid">{{y.ylabel}}</option>
          </select>
        </ion-col>
        <br>
      </ion-grid>
        <table class="pure-table pure-table-bordered" style="width: 100%" *ngIf="KASHOW===true">
            <thead>
                <tr>
                   
                    <th>กะ</th>
                    <th>เลข</th>
                    <th>วันที่</th>
                </tr>
            </thead>
        
            <tbody>
                <tr  *ngFor="let row of datarow">
                    
                    <td>{{row.KA}}</td>
                    <td>{{row.CheckList_ID}}</td>
                    <td>{{row.Date_log}}</td>
                </tr>
        
            </tbody>
        </table>

      <form (ngSubmit)="KaForms(todo)">
        <ion-item>
          <ion-label floating>กะ</ion-label>

          <ion-select [(ngModel)]="ka" name="ka">

            <ion-option *ngFor="let i of Kaset;let x=index" value="{{i.ka}}">{{i.ka}}</ion-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <div *ngIf="showdatebutton===false">
              คุณเลือก กะ {{ka}} - {{selectedday}}-{{selectedmont}}-{{selectedyear}}
          </div>
          <div *ngIf="showdatebutton===true" class="title">
              คุณเลือก กะ {{ka}} - {{showDate}}
          </div>
         
        </ion-item>
       

        <ion-list inset>

        </ion-list>

      </form>
      <h2 class="slide-title">2.อุปกรณ์ที่ทำการส่งมอบ</h2>

      <ion-list inset>
        <ion-item *ngFor="let asset of datasasset; let i = index">
          <ion-label>{{i+1}}-{{asset.Asset_name}}</ion-label>
          <input item-end [(ngModel)]="asset.quatity" name='quatity' type="text">
        </ion-item>
      </ion-list>
    </ion-slide>



    <ion-slide>

      <h2 class="slide-title">3.สรุปการปฎิบัติหน้าที่ห้องควบคุม CCTV </h2>

      <ion-list>


        <ion-list radio-group [(ngModel)]="securoom.CCTV">

          <ion-list-header>
            กล้อง CCTV
          </ion-list-header>

          <ion-item>
            <ion-label>ปกติ</ion-label>
            <ion-radio value="1" (click)="getval(1)"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-label>ไม่ปกติ</ion-label>
            <ion-radio value="2" (click)="getval(2)"></ion-radio>
          </ion-item>

        </ion-list>

        <ion-item *ngIf="showbecuce===true">

          <textarea [(ngModel)]="securoom.CCTV_Error" name="CCTVtitle"></textarea>

        </ion-item>

        <ion-list radio-group [(ngModel)]="securoom.DVR">
          <ion-list-header>
            เครื่องบันทึกกล้องวงจรปิด (DVR)
          </ion-list-header>
          <ion-item>
            <ion-label>ปกติ</ion-label>
            <ion-radio value="1" (click)="setDvr(1)"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>ไม่ปกติ</ion-label>
            <ion-radio value="2" (click)="setDvr(2)"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="showdvr===true">
          <textarea [(ngModel)]="securoom.DVR_Error" name="DVRtitle"></textarea>
        </ion-item>
        <ion-list radio-group [(ngModel)]="securoom.ALARM">

          <ion-list-header>
            ALARM
          </ion-list-header>

          <ion-item>
            <ion-label>ปกติ</ion-label>
            <ion-radio value="1" (click)="setAlarm(1)"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-label>ไม่ปกติ</ion-label>
            <ion-radio value="2" (click)="setAlarm(2)"></ion-radio>
          </ion-item>

        </ion-list>

        <ion-item *ngIf="showAlarm===true">


          <textarea [(ngModel)]="securoom.ALARM_Error" name="DVRtitle"></textarea>

        </ion-item>
      </ion-list>

    </ion-slide>
    <ion-slide>

      <h2 class="slide-title">4.สรุปการตรวจพื้นที่อาคาร </h2>

      <ion-list inset>


        <ion-list radio-group [(ngModel)]="securoom.INbuilding">

          <ion-list-header>
            สรุปการปฏิบัติหน้าที่ประตูทางเข้าอาคาร
          </ion-list-header>

          <ion-item>
            <ion-label>ปกติ</ion-label>
            <ion-radio value="1" (click)="buildcheck(1)"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-label>ไม่ปกติ</ion-label>
            <ion-radio value="2" (click)="buildcheck(2)"></ion-radio>
          </ion-item>

        </ion-list>

        <ion-item *ngIf="showbuild===true">

          <textarea [(ngModel)]="securoom.INbuilding_Error" name="buildingtitle"></textarea>

        </ion-item>


        <ion-list radio-group [(ngModel)]="securoom.OUTbuilding">

          <ion-list-header>
            สรุปการปฏิบัติหน้าที่ลาดจอด-ทางเข้านอกอาคาร
          </ion-list-header>

          <ion-item>
            <ion-label>ปกติ</ion-label>
            <ion-radio value="1" (click)="outbuildcheck(1)"></ion-radio>
          </ion-item>


          <ion-item>
            <ion-label>ไม่ปกติ</ion-label>
            <ion-radio value="2" (click)="outbuildcheck(2)"></ion-radio>
          </ion-item>

        </ion-list>

        <ion-item *ngIf="showoutbuild===true">
          <textarea [(ngModel)]="securoom.OUTbuilding_Error" name="buildingtitle" ></textarea>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
        <h2 class="slide-title">5.สรุปการตรวจพื้นที่อาคาร(ต่อ) </h2>    
            <ion-list>
                <ion-list-header>
                  สรุปยอดบัตร Visitor
                </ion-list-header>
        
              </ion-list>
        
              <ion-item>
               
                <textarea [(ngModel)]="securoom.V_Report" name="V_Report" class="report"></textarea>
             
              </ion-item>
       
      
            <ion-list radio-group [(ngModel)]="securoom.BUZZER">

                <ion-list-header>
                  สรุปการตรวจเซ็ค BUZZER ประตู Access Control
                </ion-list-header>
      
                <ion-item>
                  <ion-label>ปกติ</ion-label>
                  <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>ไม่ปกติ</ion-label>
                  <ion-radio value="2"></ion-radio>
                </ion-item>     
              </ion-list>     
              <ion-item>
                <textarea [(ngModel)]="securoom.BUZZER_Error" name="BUZZER_Error" class="report"></textarea>    
              </ion-item>
            </ion-slide>
    <ion-slide>
      
      <h2 class="slide-title">6.บันทึกการปฏิบัติงาน รปภ ประจำจุด</h2>
      <ion-list class="checkpoint">
      <form>
        <ion-grid text-left>
          <ion-row *ngFor="let singleform of dataslides;let i=index">
            <ion-col width-40 style="vertical-align: middle; border-bottom: 1px solid #ddd;">{{i+1}}.{{singleform.Point_set}} &nbsp;&nbsp; {{singleform.Point_name}} </ion-col>
            <ion-col width-50 style="vertical-align: middle; border-bottom: 1px solid #ddd;">
              <ion-auto-complete [(ngModel)]="singleform.Point_emp" name="Point_emp" [dataProvider]="completeTestService"></ion-auto-complete>
            </ion-col>
            <hr>
          </ion-row>
        </ion-grid>
        
      </form>
     </ion-list>
    </ion-slide>

    <ion-slide class="checkpoint">  
      <h2 class="slide-title">1 ลงชื่อหัวหน้า รปภ ออกกะ.</h2>
      <img src="{{signature1}}" class="imgsign" (click)="modelsigh(1)" *ngIf="signature1"/>

       <button ion-button icon-end large clear (click)="modelsigh(1)" *ngIf="!signature1">
          ลงลายชื่อ
          <ion-icon name="md-contact"></ion-icon>
        </button>
        <h2 class="slide-title">2 ลงชื่อหัวหน้า รปภ เข้ากะ</h2>
      <img src="{{signature2}}" class="imgsign" (click)="modelsigh2(2)" *ngIf="signature2"/>

       <button ion-button icon-end large clear (click)="modelsigh2(2)" *ngIf="!signature2">
          ลงลายชื่อ
          <ion-icon name="md-contact"></ion-icon>
        </button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/checkbox-303113_640.png" class="slide-image" />
      <h2 class="slide-title">คุณกำลังจะบันทึกข้อมูล</h2>

      <button ion-button icon-end large clear (click)="dataassetForms()">
        บันทึก
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <!-- <button ion-button type="button" (click)="startApp()"  block color="mygreen">บันทึก</button> -->
    </ion-slide>
  </ion-slides>

</ion-content>