@import 'https://unpkg.com/purecss@1.0.0/build/pure-min.css';
page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }
  ion-slides {
    height: auto;
  }
 
  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
  .checkpoint{
    height: auto;
    overflow: auto;
    overflow-x: hidden;
  }
  .auth-time-label {
    min-height: 24px;
    font-size: 32px;
    div.item-inner {
      border-bottom: none;
    }
  }
  .auth-time {
    
        input {
          text-align: left;
          color: green;
          width: 50%;
          border:1px solid #0b0e07;
         padding: 5px;
          font-size: 16px;      
    }   
  }
 
  ion-auto-complete {
    width: 50vw;
    font-size: 14px;
    color: black;
    height: auto;
    overflow: auto;
  }
  // input {
  //   background-color: #F3F3F3;
  //   border: 1px solid #cecece;
  //   padding-left: 5px;
  //   width: 30vw;
  //   font-size: 14px;

   
  // }
  input[type=text] {
    border: 2px solid rgb(228, 227, 230);
    border-radius: 4px;
    width: 10vw;
    font-size: 18px;
    text-align: center;

}
input[type=text]:focus {
  background-color: lightblue;
  border: 2px solid rgb(2, 100, 35);
}
textarea {
  margin: 0 auto;
  width:100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  color: rgb(8, 8, 8);
  border: 2px solid rgb(243, 238, 238);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
textarea:focus { 
  outline: none !important;
  border-color: rgb(240, 2, 2);
  box-shadow: 0 0 10px #719ECE;
}

.report { 
  outline: none !important;
  border-color: rgb(4, 180, 48);
  box-shadow: 0 0 10px #719ECE;
}
signature-pad {
  canvas {
    border: dashed 1px #cccccc;
    
  }
}
.title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.imgsign {
  width: 200px;height: 200px;
}
}
