page-signature {
    // .drawing-active {
    //   //  background: #d6fffc;
    //   }
      .title {
        text-align: center;
        font-weight: bold;
        padding: 10px;
      }
      signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          
        }
      }
}
